<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>about</title>
<style type="text/css"><!--
body {
    background-color: white;
}
a {
    text-decoration: none;
    color: #336;
}
.n {
    position: absolute;
    top: 65px;
    left: 10%;
    color: #dcdcdc;
    font-size: 120pt;
    letter-spacing: -8px;
    z-index: -1;
}
.t {
    margin: 100px 16%;
    color: #666;
    font-size: 24pt;
}
.h {
    text-align: center;
    font-size: 175%;
}
--></style>
</head>
<body>
<p class="h"><a href="/1" title="home">«</a></p>
<div class="n">about</div>
<div class="t">
    <p>original: <a href="http://cluetrain.com/">cluetrain.com</a></p>
    <p>source code: <a href="http://github.com/bbolli/google-app-cluetrain/tree/master/">github.com/bbolli/google-app-cluetrain</a>
    <p>blog: <a href="http://drbeat.li/">beating the one-way web</a></p>
</div>
</body>
</html>
