<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}n/a{% endblock %}</title>
<style type="text/css"><!--
body {
    background-color: white;
}
a {
    text-decoration: none;
    color: #336;
}
.n {
    position: absolute;
    top: 65px;
    left: 10%;
    color: #d8d8d8;
    font-size: 120pt;
    letter-spacing: -8px;
    z-index: -1;
}
.t {
    margin: 75px 16%;
    color: #666;
    font-size: 30pt;
}
.h {
    text-align: center;
    font-size: 175%;
}
.d {
    color: #d8d8d8;
}
--></style>
</head>
<body>
{% block body %}n/a{% endblock %}
</body>
</html>
